.me, .partner {
    height: 80%;
    width: 20%;
    float: left;
}
span {
    display: table-cell;
    vertical-align: middle;
}
div .chat {
    min-height: 70%;
    width: 60%;
    float: left;
}
.input{
    height: 20%;
}
img.cloud_img {
    visibility: hidden;
}
@media screen and (max-width: 800px) {
    blockquote{
        font-size: 12px;
        padding:3% 6% !important;
    }
}
.box
{
    width: 100%;
    margin: auto;
    float: left;
    cursor:default;
    overflow-y:scroll;
}
.box::-webkit-scrollbar {
    width: 3px;
    max-width: 3px;
    height: auto;
    max-height: 8px;

}
.conversation{
    font-family: 'Jockey One', sans-serif;
}
.box::-webkit-scrollbar-thumb
{
    background: #9F6905;
    border-radius: 5px;
    max-width: 3px;
}
.box::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius:5px;
}

blockquote{
    border-left: none;
}
.L {
    max-width: 80%;
    position:relative;
    padding: 15px 30px;
    margin:0;
    color:#000;
    background:#f3961c; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
    background:-moz-linear-gradient(#f9d835, #f3961c);
    background:-o-linear-gradient(#f9d835, #f3961c);
    background:linear-gradient(#f9d835, #f3961c);
    /* Using longhand to avoid inconsistencies between Safari 4 and Chrome 4 */
    -webkit-border-top-left-radius:25px 50px;
    -webkit-border-top-right-radius:25px 50px;
    -webkit-border-bottom-right-radius:25px 50px;
    -webkit-border-bottom-left-radius:25px 50px;
    -moz-border-radius:25px / 50px;
    border-radius:25px / 50px;
    float: left;
}
.R {
    max-width: 80%;
    position:relative;
    padding:15px 30px;
    margin:0;
    color:#000;
    background:#6bd500; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#80FF00), to(#6bd500));
    background:-moz-linear-gradient(#80FF00, #6bd500);
    background:-o-linear-gradient(#80FF00, #6bd500);
    background:linear-gradient(#80FF00, #6bd500);
    /* Using longhand to avoid inconsistencies between Safari 4 and Chrome 4 */
    -webkit-border-top-left-radius:25px 50px;
    -webkit-border-top-right-radius:25px 50px;
    -webkit-border-bottom-right-radius:25px 50px;
    -webkit-border-bottom-left-radius:25px 50px;
    -moz-border-radius:25px / 50px;
    border-radius:25px / 50px;
    float:right;
}
/*/!* creates the larger triangle *!/
.L:before {
    content:"";
    position:absolute;
    bottom:-30px;
    left: 50%;
    border-width:0 0 30px 50px;
    border-style:solid;
    border-color:transparent #f3961c;
    /!* reduce the damage in FF3.0 *!/
    display:block;
    width:0;
}
.R:before{
    content:"";
    position:absolute;
    bottom:-30px;
    right:50px;
    border-width:0 50px 30px 0;
    border-style:solid;
    border-color:transparent #f3961c;
    /!* reduce the damage in FF3.0 *!/
    display:block;
    width:0;
}
.L:after{
    content:"";
    position:absolute;
    bottom:-30px;
    left:50px;
    border-width:0 0 30px 20px;
    border-style:solid;
    border-color:transparent #fff;
    /!* reduce the damage in FF3.0 *!/
    display:block;
    width:0;
}
.R:after{
    content:"";
    position:absolute;
    bottom:-30px;
    right:50px;
    border-width:0 20px 30px 0;
    border-style:solid;
    border-color:transparent #fff;
    /!* reduce the damage in FF3.0 *!/
    display:block;
    width:0;
}*/
.Area
{
    margin:0 auto;
    width:100%;
    display:table;
    margin-top:2px;
    border-radius:5px;
}

.input{
    height: 30%;
}
.input textarea
{
    margin: auto;
    font-size:12px;
    width:100%;
    max-width:100%;
    min-width:100%;
    padding:5%;
    border-radius:25px;
    border:1px solid #f0f0f1;
    max-height:50%;
    height:50%;
    min-height:50%;
    background-color:#333;
    color:#fff;
    outline:none;
    /*border:1px solid transparent;*/
    resize:none;
}
.input textarea:focus
{
    color:#333;
    border:1px solid #ccc;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    transition: all 1.5s;
    background-color:#fff;
}

br
{
    clear:both;
    height:20px;
}