/*
=====================================================================
*   Zoon v1.0 Layout Stylesheet
*   url: styleshout.com
*   06-07-2014
=====================================================================

   TOC:
   a. General Styles
   b. Intro Section
   c. About Section
   d. Location Section
   e. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { background: #0f0f0f; }


/* ------------------------------------------------------------------ */
/* b. Intro Styles
/* ------------------------------------------------------------------ */

#intro {
   position: relative; 
   min-height: 900px;
   width: 100%;
   background: #161415 url(../images/header-background.jpg) no-repeat center center;
   background-size: cover !important;
	-webkit-background-size: cover !important;   
}

/* Header 
/* ------------------------------------------------------------------ */
header {   
   width: 100%;     
}
header #logo {	
	min-width:100%;
	font:150px 'Jockey One', sans-serif;
	color: #0B0354;
	text-align: center;
	position: relative;
	top: 72px;
}


/* Main 
------------------------------------------------------------------ */
#main {
	margin: 126px auto 0;
	text-align: center;	
}
#main h1 {
	font:42px 'Jockey One', sans-serif;
	color: #0B0354;	
	padding: 5% 0;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, .5);	
}
#main h5 {
	font: 25px/24px 'montserrat-bold', sans-serif;
	color: #000000;	
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .7);	
}

/* counter */
#main #counter {
	width: 75%;
	color: #D80B36;	
	text-align: center;
	margin: 18px auto 0;
}
#main #counter span {
	font: 90px/1em 'merriweather-bold', serif;
	display: block;
	padding: 12px 0 30px;
	min-width: 25%;
	float: left;
text-shadow: 4px 0px 5px rgba(0, 0, 0, 1);
	border-left: 1px dotted rgba(255, 255, 255, .2);	
}
#main #counter span:first-child { border-left: none; }
#main #counter span em {
	font: 32px/34px 'montserrat-regular', sans-serif;
	text-shadow: 4px 0px 5px rgba(0, 0, 0, 1);
        font-weight:bold;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin-top: 12px;	
	display: block;
	color: #D80B36;	
}

/* social links */
#main .social {
	clear: both;
	font-size: 50px;
    margin: 12px 0 24px;
    padding: 0;   
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
#main .social li {
   display: inline-block;
   margin: 0 12px;
   padding: 0;
}
#main .social li a { color: #3B5998; }
#main .social li a:hover { color: #ffffff; }


/* ------------------------------------------------------------------ */
/* e. Footer
/* ------------------------------------------------------------------ */

footer {
	font: 14px/24px 'montserrat-regular', sans-serif;
	background: #0f0f0f;
   padding-top: 24px;
   padding-bottom: 24px;
   color: #303030;      
}
footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
    text-align: center;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 6px;
    padding-right: 10px;
    color: #1B6728;
}
footer .copyright  li:first-child:before {
    display: none;
}

