/* ==================================================================

*   Zoon Media Queries
*   url: styleshout.com
*   06-07-2014

/* ================================================================== */


/* screenwidth less than 1140px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1140px) {

	/* Intro Styles
	------------------------------------------------------------------ */
	#intro {	min-height: 828px; }

	/* Header 
	------------------------------------------------------------------ */
	header #logo {	
		top: 66px;	
		width: 100px;
	}

   /* main
   ------------------------------------------------------------------ */
   #main { margin-top: 90px; }
  	#main h1 { 
  		font:42px 'Jockey One', sans-serif;
		color: #0B0354;	
		padding: 5% 0;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, .5)
  	}
	/* counter */
	#main #counter { 
		width: 70%;
		margin: 12px auto 0; 
	}
	#main #counter span { font: 60px/1em 'merriweather-bold', serif;	}
}

/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {

	/* intro styles
	------------------------------------------------------------------ */
	#intro {	min-height: 792px; }

   /* main
   ------------------------------------------------------------------ */
   #main h1 { 
  		font:42px 'Jockey One', sans-serif;
		color: #0B0354;	
		padding: 5% 0;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, .5)
  	}
  	
  	/* counter */
	#main #counter { width: 80%; }
	#main #counter span { font: 58px/1em 'merriweather-bold', serif;	}

/* mobile 
---------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {

	/* intro styles
	------------------------------------------------------------------ */
	header #logo {	
		top: 30px;	
		width: 90px;	
	}
   /* main
   ------------------------------------------------------------------ */
   #main { margin-top: 48px; }
  	#main h1 { 
  		font:42px 'Jockey One', sans-serif;
		color: #0B0354;	
		padding: 5% 0;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, .5)		
  	}
  	#main h5 {
		font: 12px/24px 'montserrat-bold', sans-serif;
		text-align: center;
	}

  	/* counter */
	#main #counter {
		width: 100%;		
		margin: 12px 0 30px;
	}
	#main #counter span { 
		font: 46px/1em 'merriweather-bold', serif;	
		padding: 9px 0 15px;
	}
	#main #counter span em {
		font: 9px/18px 'montserrat-regular', sans-serif;
		text-transform: uppercase;
		letter-spacing: 1px;		
		margin-top: 6px;
	}

	/* social links */
	#main .social {
		margin: 12px 0 24px;
	   text-align: center
	}
	#main .social li { margin: 0 8px; }
	
   /* footer
   ------------------------------------------------------------------------ */
  	footer {	padding-bottom: 30px; }

   /* copyright */
	footer .copyright { text-align: center; }
   footer .copyright li:before { content: none; }
   footer .copyright li { 
   	margin: 0; 
   	display: block;
   	line-height: 27px;
   }

}

/* screenwidth less than 460px
  -------------------------------------------------------------------------- */
@media only screen and (max-width: 460px) {

	/* intro styles
	------------------------------------------------------------------ */
	#intro {	min-height: 780px; }
   
   /* main
   ------------------------------------------------------------------ */
   #main h1 { 
  		font:42px 'Jockey One', sans-serif;
		color: #0B0354;	
		padding: 5% 0;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, .5)
  	}
    
  	/* counter */
	#main #counter {
		width: 100%;		
		margin: 0 0 24px;
	}
	#main #counter span { 
		font: 40px/1em 'merriweather-bold', serif;	
		padding: 9px 0 15px;
		border: none;
	}
	#main #counter span em {
		font: 9px/18px 'montserrat-regular', sans-serif;
		margin-top: 6px;
	} 

   /* footer
   ------------------------------------------------------------------------ */

   /* social links */
   footer .social-links li { margin-left: 14px; }  

   /* Go To Top Button */
	#go-top { right: 15px; } 

}

/* screenwidth less than 400px
  -------------------------------------------------------------------------- */
@media only screen and (max-width: 400px) {

	/* intro styles
	------------------------------------------------------------------ */
	#intro {	min-height: 744px; }
/* Header 
	------------------------------------------------------------------ */
	header #logo {	
		font-size:100px;
	}
	/* main
   ------------------------------------------------------------- */
   #main { margin-top: 42px; }
   #main h1 { 
	font:42px 'Jockey One', sans-serif;
	color: #0B0354;	
	padding: 5% 0;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, .5)	
}

  	/* counter
   ------------------------------------------------------------- */
	#main #counter span { 
		font: 35px/1em 'merriweather-bold', serif;	
		padding: 9px 0 15px;		
	}
	#main #counter span em {
		font: 9px/18px 'montserrat-regular', sans-serif;
		margin-top: 6px;
	}
	
	/* header social links */
   #main .social li { margin: 0 6px; }

}









